@import "variables";
@import "mixins";
@import "delay";
@import "transitions";
@import "libs";

.bg-primaria {
    background-color: $primaria !important;
}

.text-primaria {
    color: $primaria !important;
}

.bg-secundaria {
    background-color: $secundaria !important;
}

.text-secundaria {
    color: $secundaria !important;
}

.bg-background {
    background-color: $background !important;
}

.text-background {
    color: $background !important;
}

.no-margin {
    margin: 0 !important;
}

.no-margin-bottom {
    margin-bottom: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.no-margin-vertical {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.no-margin-left {
    margin-left: 0 !important;
}

.no-margin-right {
    margin-right: 0 !important;
}

.no-margin-horizontal {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.no-padding-horizontal {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding-vertical {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.no-overflow {
    overflow: hidden;
}

.no-overflow-horizontal {
    overflow-x: hidden;
}

.no-overflow-vertical {
    overflow-y: hidden;
}

.btn-block {
    display: block;
    width: 100%;
}

.pointer {
    cursor: pointer !important;
}

a {
    color: $secundaria;
}

.truncar {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Esconde as setas em campos de input do tipo number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

html {
    background-color: $background;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: "Ubuntu", sans-serif;
    overflow-x: hidden;

    main {
        padding-top: 108px;
        padding-bottom: 70px;
        flex: 1 0 auto;
    }
}

.btn,
.btn-small,
.btn-large {
    &.redondo {
        border-radius: 50px;
        margin: 5px;
    }
}

.btn-full {
    display: block !important;
    width: 100% !important;
}

.menu-superior {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: $secundaria;

    .brand-logo {
        img {
            margin-top: 6px;
            height: 50px;
        }

        @media (max-width: 990px) {
            .brand-logo {
                left: 50px;
            }
        }
        @media (min-width: 991px) {
            .brand-logo {
                left: 7%;
                transform: none;
            }
        }
    }
}

.sub-titulo {
    position: fixed;
    z-index: 10;
    height: 40px;
    line-height: 40px;
    top: 64px;

    .nav-wrapper {
        .row {
            margin-bottom: 0;
            .col {
                height: 40px;
            }
        }
    }

    &.show-on-small {
        top: 60px;
        @media (max-width: 990px) {
            top: 54px;
        }
    }

    @media (max-width: 600px) {
        &.show-on-small {
            top: 50px;
        }
    }
}

.sidenav {
    padding-bottom: 130px;
    .collapsible {
        & > li {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    .collapsible-body {
        padding: 0 !important;
    }

    li {
        margin-top: 0;
        margin-bottom: 0;
        & > a {
            padding: 0 16px;
            line-height: 18px;

            span {
                height: 100%;

                .badge {
                    height: 20px;
                    margin-top: 0;
                    border-radius: 10px;
                }
            }

            .menu-title {
                display: flex;
                align-items: center;

                small {
                    display: contents;
                }
            }
        }
    }

    .user-view {
        height: 320px;
        margin-bottom: 0;
        padding-top: 90px;

        .background {
            background-position: center;
            background-size: cover;
        }

        .circle {
            -webkit-box-shadow: 0px 1px 15px 5px #666;
            box-shadow: 0px 1px 15px 5px #666;
            margin-bottom: 20px;
            background-color: #fff;
        }

        p {
            text-shadow: 0px 0px 6px #000000;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 0;
            margin-top: 0;
            line-height: 30px;
            display: block;
        }
        .btn-small {
            text-shadow: none;
            background-color: red;
            border-radius: 20px;
            color: #fff;
        }
    }

    .collapsible-header {
        &:after {
            font-family: "Material Icons";
            font-size: 18px;
            position: absolute;
            right: 16px;
            content: "keyboard_arrow_right";
            transition: transform 0.3s ease-in-out,
                opacity 0.25s ease-in-out 0.1s,
                -webkit-transform 0.3s ease-in-out;
            color: #afafaf;
            top: 0;
        }

        .valign-wrapper {
            flex-direction: column;
            align-items: baseline;
            line-height: 25px;
        }
    }

    li.active {
        & > .collapsible-header:after {
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
        }

        li {
            background-color: rgba(0, 0, 0, 0.03);
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    @media (max-width: 600px) {
        margin-top: 108px;
        padding-bottom: 180px;
    }
}

.swal2-container {
    z-index: 11010;
    .select-wrapper {
        display: none;
    }
}

.botoes-inicial {
    text-align: left;
    width: -webkit-fill-available;
    display: inline-block;
    border-radius: 20px;
    margin: 10px;
    color: $primaria;
    .card-content {
        padding: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center right;
        position: relative;
        margin: 0;
        transition: box-shadow 0.25s;
        border-radius: 20px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
            0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
        > div {
            border-radius: 20px;
            padding: 10px;
            background: white;
            background: linear-gradient(
                270deg,
                rgba(255, 255, 255, 0) 0%,
                white 40%
            );
            border-radius: 20px;
            padding: 10px;
        }
    }
    i {
        margin-bottom: 10px;
    }
    h5 {
        color: $primaria;
        margin-top: 0;
        width: 50%;
        font-size: 22px;
        line-height: 24px;
        height: 48px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    h6 {
        color: $primaria;
        margin-top: 0;
        width: 50%;
        font-size: 14px;
        line-height: 16px;
        height: 32px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    small {
        color: $secundaria;
        width: 50%;
        font-size: 12px;
        line-height: 14px;
        height: 28px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    span {
        position: absolute;
        left: 50px;
        top: 10px;
        color: $primaria;
        font-size: 12px;
        text-shadow: 4px 4px 5px #fff;
    }
}

.destaques {
    strong {
        font-weight: bolder;
    }
    .ml1 {
        margin-left: 20px;
    }
    .ml2 {
        margin-left: 40px;
    }
    .ml3 {
        margin-left: 60px;
    }
    .ml4 {
        margin-left: 80px;
    }
}

.slider {
    .slides {
        background-color: transparent;
        .slide {
            display: block;
            width: 100%;
            height: 100%;
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

.balao-informacao {
    text-align: left;
    width: 100%;
    max-width: 260px;
    display: inline-block;
    border-radius: 10px;
    margin: 10px;
    color: $primaria;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
        0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    .card-content {
        padding: 0;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center right;
        position: relative;
        margin: 0;
        transition: box-shadow 0.25s;
        border-radius: 10px;

        .row {
            border-radius: 20px;
            margin: 0;
            &.info-balao {
                padding: 20px 20px 0 20px;
                border-radius: 10px 10px 0 0;
            }
            &.titulo-balao {
                border-radius: 0 0 10px 10px;
                padding: 10px 20px;
            }
        }

        &.balao-verde {
            .info-balao {
                background-color: rgba(98, 184, 103, 0.3);
                i,
                h5 {
                    color: #88c68b;
                }
            }
            .titulo-balao {
                background-color: #88c68b;
                color: #fff;
            }
        }
        &.balao-azul {
            .info-balao {
                background-color: rgba(72, 180, 223, 0.3);
                i,
                h5 {
                    color: #79c4e4;
                }
            }
            .titulo-balao {
                background-color: #79c4e4;
                color: #fff;
            }
        }
        &.balao-roxo {
            .info-balao {
                background-color: rgba(175, 72, 223, 0.3);
                i,
                h5 {
                    color: #8e41c9;
                }
            }
            .titulo-balao {
                background-color: #8e41c9;
                color: #fff;
            }
        }
        &.balao-laranja {
            .info-balao {
                background-color: rgba(228, 146, 23, 0.3);
                i,
                h5 {
                    color: #ce8f24;
                }
            }
            .titulo-balao {
                background-color: #ce8f24;
                color: #fff;
            }
        }
        &.balao-rosa {
            .info-balao {
                background-color: rgba(243, 155, 155, 0.3);
                i,
                h5 {
                    color: #f39b9b;
                }
            }
            .titulo-balao {
                background-color: #f39b9b;
                color: #fff;
            }
        }
    }
    i {
        margin-bottom: 10px;
    }
    h5 {
        margin-top: 0;
        font-size: 22px;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.botoes-acao {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;

    .btn,
    .btn-small {
        justify-content: center;
        position: unset;
        .atalho-badge {
            margin-top: -10px;
        }
    }

    .btn-small {
        border-radius: 20px;
        margin: 5px;

        span {
            padding-left: 10px;
        }
    }

    .card {
        background-color: #fff;
        border-radius: 3px;
        padding: 5px;
        margin-bottom: 0;
    }

    .card-content {
        padding: 0 !important;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .dropdown-content {
        min-width: 250px;
    }

    .card-content {
        justify-content: end;
    }
}

.card {
    border-radius: 15px;

    .card-action {
        border-bottom-left-radius: 15px !important;
        border-bottom-right-radius: 15px !important;
    }
}

.collapsible {
    border: none;
    box-shadow: none;

    .collapsible-header {
        display: block;
    }

    li {
        margin-top: 4px;
        &.active {
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 3px 1px -2px rgba(0, 0, 0, 0.12),
                0 1px 5px 0 rgba(0, 0, 0, 0.2);

            .select-por-pagina {
                .select-wrapper {
                    input.select-dropdown,
                    .caret {
                        color: #fff;
                        fill: #fff;
                        border-bottom: none !important;
                    }
                }

                .switch {
                    label {
                        color: #fff;
                    }
                }

                a {
                    color: #fff;

                    &.active {
                        background-color: $primaria;
                    }
                }
            }
        }
    }

    & > li {
        margin-bottom: 14px;

        .secondary-content {
            &.mais {
                display: none;
            }

            &.menos {
                display: block;
            }

            &.botoes {
                @media (max-width: 600px) {
                    margin-top: -8px;
                }
            }
        }

        &.active {
            .secondary-content {
                &.mais {
                    display: block;
                }

                &.menos {
                    display: none;
                }
            }
        }
    }

    .select-por-pagina {
        right: 10px;
        margin-top: -45px;
        position: absolute;

        .switch {
            display: inline-block;
            margin-right: 20px;

            label {
                font-size: 16px;
                color: $primaria;
            }
        }

        .input-field {
            width: 150px;
            float: right;
            margin: 0 0 0 20px !important;

            input {
                border-bottom: none !important;
            }

            @media (max-width: 600px) {
                width: 60px;
            }
        }

        a {
            margin-top: 5px;

            &.active {
                color: #fff;
                background-color: $primaria;
            }
        }

        @media (max-width: 600px) {
            .switch {
                position: absolute;
                right: 0px;
                top: -44px;
                width: 220px;

                label {
                    color: $primaria !important;
                }
            }

            .input-field {
                padding: 0;
                margin-left: 0 !important;
            }

            margin-top: -44px;
            text-align: right;
        }
    }

    .collapsible-body {
        border: none;
        background-color: #fff;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
            0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

        @media (max-width: 600px) {
            padding: 1rem;
        }
    }

    &.filtro {
        margin-bottom: 20px;
        label {
            color: #000;
        }
        .collapsible-body {
            .tabs {
                background-color: #eee;
                .tab a {
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                }
            }
            padding: 20px;
        }
        .collapsible-body,
        li.active {
            border-radius: 20px;
            background-color: #eee;
        }
        form {
            background: #fff;
            padding: 20px;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
        }

        .collapsible-header {
            background-color: $secundaria;
            color: #fff;
            border: none;
            width: 80px;
            border-radius: 50px;
            transition: width 0.3s;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
                0 3px 1px -2px rgba(0, 0, 0, 0.12),
                0 1px 5px 0 rgba(0, 0, 0, 0.2);

            &.acoes {
                width: 135px;
            }
        }

        li.active {
            border-radius: 10px 10px;

            .collapsible-header {
                width: 100%;
                border-radius: 10px 10px 0 0;
                box-shadow: none;
            }

            .collapsible-body {
                border-radius: 0 0 10px 10px;
            }
        }

        .btn-small {
            margin: 3px;
        }

        .btn-filtros {
            border-radius: 10px;
            margin: 4px 2px;
            padding: 2px 20px;
            height: 36px;
            &.card-verde {
                border: solid 1px rgb(116, 252, 122);
            }
            &.card-azul {
                border: solid 1px rgb(0, 176, 255);
            }
            &.card-laranja {
                border: solid 1px rgb(241, 169, 15);
            }
            &.card-roxo {
                border: solid 1px rgb(156, 39, 176);
            }
            &.card-vermelho {
                border: solid 1px rgb(243, 155, 155);
            }
            &.card-cinza {
                background: rgb(199, 198, 198) !important;
            }
            &:hover {
                border-width: 3px;
                margin: 1px 2px;
                padding: 0px 20px;
            }
        }
    }
}

.lista-itens {
    margin-bottom: 60px;
    border: none;
    .collection-item {
        &.avatar {
            border: solid 1px #eee;
            margin-bottom: 10px;
            padding-left: 95px;
            padding-bottom: 0;
            border-radius: 10px;
            -webkit-box-shadow: 0 0.125rem 0.625rem 0 rgba(76, 78, 100, 0.22);
            -moz-box-shadow: 0 0.125rem 0.625rem 0 rgba(76, 78, 100, 0.22);
            box-shadow: 0 0.125rem 0.625rem 0 rgba(76, 78, 100, 0.22);

            .circle {
                width: 70px !important;
                height: 70px !important;

                &:not(.left) {
                    left: 45px;
                }
            }

            .title {
                display: block;
                min-height: 44px;
            }

            .dados-adicionais {
                margin-left: -80px;

                .dropdown-content {
                    width: 300px;
                    li {
                        a {
                            i {
                                padding-left: 0;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }

        &:hover {
            -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
                0 1px 10px 0 rgba(0, 0, 0, 0.12),
                0 2px 4px -1px rgba(0, 0, 0, 0.3);
            box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
                0 1px 10px 0 rgba(0, 0, 0, 0.12),
                0 2px 4px -1px rgba(0, 0, 0, 0.3);
        }

        @media (max-width: 600px) {
            &.avatar {
                .secondary-content {
                    top: 0;
                    right: 0;
                }
            }
        }
    }
}

.card-azul {
    background: rgb(0, 176, 255) !important;
    background: linear-gradient(
        340deg,
        rgba(0, 176, 255, 1) 0%,
        rgb(255, 255, 255) 30%
    ) !important;
}

.card-verde {
    background: rgb(116, 252, 122) !important;
    background: linear-gradient(
        340deg,
        rgba(116, 252, 122, 1) 0%,
        rgb(255, 255, 255) 30%
    ) !important;
}

.card-laranja {
    background: rgb(241, 169, 15) !important;
    background: linear-gradient(
        340deg,
        rgba(241, 169, 15, 1) 0%,
        rgb(255, 255, 255) 30%
    ) !important;
}

.card-roxo {
    background: rgb(156, 39, 176);
    background: linear-gradient(
        340deg,
        rgb(156, 39, 176) 0%,
        rgb(255, 255, 255) 30%
    ) !important;
}

.card-rosa {
    background: rgb(243, 155, 155) !important;
    background: linear-gradient(
        340deg,
        rgba(243, 155, 155, 1) 0%,
        rgb(255, 255, 255) 30%
    ) !important;
}

.card-vermelho {
    background: rgb(84, 3, 16) !important;
    background: linear-gradient(
        340deg,
        rgba(84, 3, 16, 1) 0%,
        rgb(255, 255, 255) 30%
    ) !important;
}

.card-arredondado {
    border-radius: 15px;
    overflow: hidden;
}

.card-desativado {
    background: rgb(199, 198, 198) !important;
}

.quadrado {
    position: relative;
    width: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 60px;
    &::before {
        content: "";
        display: block;
        padding-top: 100%;
    }

    &.cover {
        background-size: cover;
    }
}

.pagination {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 20px 5px;
    z-index: 1;
    background-color: #fff;
    -webkit-box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
}

.input-field {
    .postfix {
        position: absolute;
        width: 3rem;
        right: 0px;
        font-size: 2rem;
        -webkit-transition: color 0.2s;
        transition: color 0.2s;
        z-index: 2;

        &.fas,
        &.far {
            font-size: 18px !important;
            top: 20px;
            right: -30px;
        }
    }
}

.foto_upload {
    display: block;
    max-height: 200px;
    max-width: 100%;
    width: auto;
    margin: 0 auto;
}

.file-field {
    display: flex;
    .btn-small {
        margin: 5px auto !important;
    }
}

.botao-adicionar {
    position: fixed;
    right: 12px;
    top: 4px;
    z-index: 10003;
}

#carregando {
    position: fixed;
    z-index: 40000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fbfbfb;

    span {
        font-size: 50px;
        text-align: center;
        top: calc(50% - 250px);
        position: absolute;
        width: 100%;
        font-size: 20px;
    }
    .imagem {
        position: absolute;
        width: 100px;
        height: 100px;
        border-radius: 20px;
        top: calc(50% - 80px);
        left: calc(50% - 50px);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}

.lds-ripple {
    display: inline-block;
    position: relative;
    width: 300px;
    height: 300px;

    div {
        position: absolute;
        opacity: 1;
        border-radius: 50%;
        animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
        border: 4px solid $primaria;

        &:nth-child(2) {
            animation-delay: -0.5s;
        }
    }
}

@keyframes lds-ripple {
    0% {
        top: 150px;
        left: 150px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: -1px;
        left: -1px;
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}
